body {
	text-align: center;
}

.box {
	display: none; 
	height: 50px;
	width: 50px;
}

.red {
	background-color: red;
}

.orange {
	background-color: orange;
}

.yellow {
	background-color: yellow;
}

.green {
	background-color: green;
}

@media (max-width: 600px) { 

.orange, .yellow { display: inline-block;}

}